# Ignore directories
input/
git/
envprivategpt/
.vscode/
input_dataset/
input_dataset_2/
HF_Models/
node_modules/
Colab_Model_Download/
wandb/
mlruns/
__MACOSX/
__pycache__/
.ipynb_checkpoints/
.next/
coverage/
build/
LARGE_Datasets/
Others_Code_gitignore/
YouTube_Experiments_Scripts/
Project-Note-PAUL/
.netlify/
error_log.txt
# Ignore specific file types
*demo_pt
*.gif
*.qt
*.opus
*.mkv
*.onnx
*.pth
*.webm
*.h5
*.pyc
*.bin
*.npy
*.db
*.pkl
*.hdf5
*.pt
*.csv
*.index
*.mov
*.mp4
*.m4v
*.zip
*.gz
*.tgz
*.tar
*.tar.gz
*.7z
*.dcm
*.tiff
*.nii
*.rar
*.log
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.~lock*

